@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colour: #f5debf;
  --contrast: #222222;
  --accent: #ef4444;
  --snow: #2793e9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --contrast: #f5debf;
    --colour: #222222;
    --accent: #ef4444;
    --snow: #2793e9;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  color: var(--colour);
  background: var(--contrast);
  font-family: Arial, Helvetica, sans-serif;
}

/* Cursor Animations */
@keyframes cursorAnim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2.5);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.cursor-click::before {
  animation: cursorAnim .35s forwards ease-out;
  border: 1px solid red;
}

/*Landing Page Animations*/
.list {
  transform-style: preserve-3d;
  transform: perspective(500px);
}

.list .item:before {
  content: "";
  position: absolute;
  top: 95%;
  left: 5%;
  width: 90%;
  height: 20%;
  background: var(--contrast);
  transform: perspective(500px) rotatex(10deg) scale(.9, 0.4);
  filter: blur(.7em);
  pointer-events: none;
  opacity: .3;
  transition: 200ms linear;
  border-radius: 10px;
}

.list .item:hover::before {
  opacity: .5;
  filter: blur(.5em);
}

.list .item:hover {
  transform: translateZ(30px);
  filter: brightness(1);
}

/* items in front of hovered element */
.list .item:hover+* {
  filter: brightness(0.4);
  transform: translateZ(20px) rotateY(20deg);
}

.list .item:hover+*+* {
  filter: brightness(0.15);
  transform: translateZ(10px) rotateY(10deg);
}

/* items behind hovered element */
.list .item:has(+ *:hover) {
  filter: brightness(0.4);
  transform: translateZ(20px) rotateY(-20deg);
}

.list .item:has(+ * + *:hover) {
  filter: brightness(0.15);
  transform: translateZ(10px) rotateY(-10deg);
}


/* scroll animations */
.animTextScroll {
  animation-timeline: view();
  animation-range: 0% 30%;
}

/* landingHeader */
.landingHeader {
  color: transparent;
  background-image: linear-gradient(var(--accent), var(--accent));
  background-repeat: no-repeat;
  -webkit-text-stroke: 0.1rem var(--accent);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 0%;
  animation: bgLandingHeaderAnim 6s linear infinite;
  animation-delay: 3s;
}

h1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-right: 1px solid var(--accent);
  animation: lineLandingHeaderAnim 6s linear infinite;
  animation-delay: 3s;
}

@keyframes bgLandingHeaderAnim {

  0%,
  10%,
  100% {
    background-size: 0%;
  }

  80%,
  90% {
    background-size: 100%;
  }
}

@keyframes lineLandingHeaderAnim {

  0%,
  10%,
  100% {
    width: 0%;
  }

  80%,
  90% {
    width: 100%;
  }
}

/* shadow of text with snow*/
.snowShadow::before {
  transform: perspective(500px) rotatex(75deg);
  filter: blur(2em);
  opacity: .2;
}


/* Footer Blur on top border*/
.footBlur::before {
  content: "";
  background: var(--accent);
  filter: blur(5px);
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: -1;
}