@import 'tailwindcss';

/* Default (light mode) */
:root {
  color-scheme: dark light;
  --colour: #f5debf;
  --contrast: #222222;
  --accent: #ef4444;
  --snow: #2793e9;
  --pinky: #FDB7EA;
}

/* System preference — used only if no manual override */
@media (prefers-color-scheme: dark) {
  :root {
    --colour: #222222;
    --contrast: #f5debf;
    --accent: #ef4444;
    --snow: #2793e9;
    --pinky: #FDB7EA;
  }
}

/* Manual override — always wins visually */
:root.dark{
  --colour: #222222;
  --contrast: #f5debf;
  --accent: #ef4444;
  --snow: #2793e9;
  --pinky: #FDB7EA;
}

/* document.body.classList.toggle("dark", theme); */
/* body.dark {       
  --contrast: #f5debf;
  --colour: #222222;
  --accent: #ef4444;
  --snow: #2793e9;
  --pinky: #FDB7EA;
} */

@theme {
  --background-image-home-radial: radial-gradient(#b91c1c, transparent, transparent);
  --background-image-btn-radial: radial-gradient(#f5deb3, transparent);

  --color-contrast: var(--contrast);
  --color-colour: var(--colour);
  --color-accent: var(--accent);
  --color-snow: var(--snow);

  --animate-typewriter: typewriter 5s steps(5) 1s forwards, blink 0.9s step-end infinite;
  --animate-text-fade-in: textFadeIn;
  --animate-movies-fade-in: moviesFadeIn 3.5s ease-in;
  --animate-header-fade-in: headerFadeIn 2s linear;
  --animate-line-landing-header-anim: lineLandingHeaderAnim 6s linear 3s infinite;
  --animate-snow-fall: snowFall 10s ease-out infinite;
  --animate-sliding-marquee: slidingMarquee 40s linear infinite;
  --animate-bg-fade-out: bgFadeOut;
  --animate-bg-fade-in: bgFadeIn 1s ease-in-out;
  --animate-rotate-clock-wise: rotateClockWise 5s linear infinite;
  --animate-rotate-counter-clock: rotateCounterClock 5s linear infinite;
  --animate-shimmer: shimmer 2s ease-out infinite;

  @keyframes typewriter {
    0% {
      width: 0;
      border-right: 2px solid;
    }
    100% {
      width: 100%;
      border-right: 2px solid;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @keyframes textFadeIn {
    0% {
      opacity: 0;
      scale: 0;
      transform: translateY(-20%);
    }
    100% {
      opacity: 1;
      scale: 1;
    }
  }
  @keyframes headerFadeIn {
    0% {
      opacity: 0;
      scale: 0;
    }
    90% {
      scale: 1.1;
    }
    100% {
      opacity: 1;
      scale: 1;
    }
  }
  @keyframes moviesFadeIn {
    0%,
    40% {
      opacity: 0;
      scale: 0;
    }
    90% {
      scale: 1.1;
    }
    100% {
      opacity: 1;
      scale: 1;
    }
  }
  @keyframes lineLandingHeaderAnim {
    0%,
    10%,
    100% {
      width: 0%;
    }
    80%,
    90% {
      width: 100%;
    }
  }
  @keyframes snowFall {
    0% {
      top: -5%;
      opacity: 1;
    }
    70% {
      top: 80%;
      opacity: 0.5;
    }
    70%,
    100% {
      top: 85%;
      opacity: 3;
    }
  }
  @keyframes slidingMarquee {
    0%,
    15% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes bgFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes bgFadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes rotateClockWise {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotateCounterClock {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  @keyframes shimmer {
    0% { 
      transform: translateX(-100%); 
    }
    100% { 
      transform: translateX(100%);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
/* @layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
} */

/* ----------------------------- */
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: none;
} */

body {
  color: var(--colour);
  background: var(--contrast);
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Cursor Animations */
@keyframes cursorAnim {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(.75);
  }

  50% {
    transform: scale(2.5);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.cursor-click::before {
  animation: cursorAnim .4s forwards ease-out;
  border: 1px solid red;
}

/*Landing Page Animations*/
.list {
  transform-style: preserve-3d;
  transform: perspective(500px);
}

/* Landing Card Shadows */
.list .item:before {
  content: "";
  position: absolute;
  top: 95%;
  left: 5%;
  width: 90%;
  height: 20%;
  background: var(--contrast);
  transform: perspective(500px) rotatex(10deg) scale(.9, 0.4);
  filter: blur(.7em);
  pointer-events: none;
  opacity: .3;
  transition: 200ms linear;
  border-radius: 10px;
}

.list .item:hover::before {
  opacity: .5;
  filter: blur(.5em);
}

/* Hovered item */
.list .item:hover {
  transform: translateZ(30px);
  filter: brightness(1);
  box-shadow: 0px 10px 20px var(--colour), 0px -10px 20px var(--colour);
}

/* items in front of hovered element */
.list .item:hover+* {
  filter: brightness(.2);
  transform: translateZ(20px) rotateY(20deg);
}

.list .item:hover+*+* {
  filter: brightness(0.1);
  transform: translateZ(10px) rotateY(10deg);
}

/* items behind hovered element */
.list .item:has(+ *:hover) {
  filter: brightness(.2);
  transform: translateZ(20px) rotateY(-20deg);
}

.list .item:has(+ * + *:hover) {
  filter: brightness(0.1);
  transform: translateZ(10px) rotateY(-10deg);
}


/* scroll animations */
.animTextScroll {
  animation-timeline: view();
  animation-range: 0% 45%;
}

/* landingHeader */
.landingHeader {
  color: transparent;
  background-image: linear-gradient(var(--accent), var(--accent));
  background-repeat: no-repeat;
  -webkit-text-stroke: 0.1rem var(--accent);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 0%;
  animation: bgLandingHeaderAnim 6s linear infinite;
  animation-delay: 3s;
}

.landingHeader::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-right: 1px solid var(--accent);
  animation: lineLandingHeaderAnim 6s linear infinite;
  animation-delay: 3s;
}

@keyframes bgLandingHeaderAnim {

  0%,
  10%,
  100% {
    background-size: 0%;
  }

  80%,
  90% {
    background-size: 100%;
  }
}

@keyframes lineLandingHeaderAnim {

  0%,
  10%,
  100% {
    width: 0%;
  }

  80%,
  90% {
    width: 100%;
  }
}

/* shadow of text with snow*/
.snowShadow::before {
  transform: perspective(500px) rotatex(70deg);
  filter: blur(2em);
  opacity: .2;
}

/* Footer Blur on top border*/
.footBlur::before {
  content: "";
  background: var(--accent);
  filter: blur(5px);
  position: absolute;
  bottom: -4.75px;
  left: 0;
  width: 100%;
  height: 14px;
  z-index: 30;
}


/* Rising Blocks Animation */
.rise {
  animation: floatUp 5s linear infinite;
}

.rise:nth-child(1) {
  animation-delay: 7s;
  animation-duration: 20s;
}

.rise:nth-child(2) {
  animation-delay: 4s;
  animation-duration: 25s;
}

.rise:nth-child(3) {
  animation-delay: 1.25s;
  animation-duration: 20s;
}

.rise:nth-child(4) {
  animation-delay: 1s;
  animation-duration: 34s;
  animation-timing-function: ease;
}

.rise:nth-child(5) {
  animation-delay: 3s;
  animation-duration: 30s;
}

.rise:nth-child(6) {
  animation-delay: 5s;
  animation-duration: 40s;
  /* animation-timing-function: cubic-bezier(1, 0, 0, 1); */
}

.rise:nth-child(7) {
  animation-delay: 5.5s;
  animation-duration: 36s;
}

.rise:nth-child(8) {
  animation-delay: 8s;
  animation-duration: 45s;
}

.rise:nth-child(9) {
  animation-delay: 8.5s;
  animation-duration: 23s;
}

.rise:nth-child(10) {
  animation-delay: 4.5s;
  animation-duration: 16s;
}

.rise:nth-child(11) {
  animation-delay: 4s;
  animation-duration: 26s;
}

.rise:nth-child(12) {
  animation-delay: 0s;
  animation-duration: 39s;
}

.rise:nth-child(13) {
  animation-delay: 3s;
  animation-duration: 22s;
}

.rise:nth-child(14) {
  animation-delay: 5s;
  animation-duration: 37s;
}


@keyframes floatUp {
  0% {
    transform: rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: rotate(720deg);
    top: 0;
    opacity: 0;
    border-radius: 100%;
  }
}